body h3 {
  font-size: 1.875rem;
  font-family: "Yu Gothic";
  src: local("Yu Gothic Bold");
  font-weight: bold;
}

body h4 {
  font-size: 1.25rem;
}

body h5 {
  font-size: 1.125rem;
}

body p {
  font-size: 1rem;
  margin: 0;
}

.bg {
  background-size: cover;
}

.text-sm {
  font-size: 0.875rem;
}

@media (max-width: 992px) {
  .text-sm {
    font-size: 0.75rem;
  }
}

.text-md {
  font-size: 1rem;
}

.text-lg {
  font-size: 1.125rem;
}

.text-xl {
  font-size: 1.25rem;
}

.text-xxl {
  font-size: 1.875rem;
}

.bg-darkblue {
  background-color: #1e2380;
}

.bg-gray {
  background-color: #fafafa;
}

.darkblue {
  color: #1e2380;
}

.text-white {
  color: #fff;
}

.headline-type1 {
  color: #1e2380;
  font-size: 1.875rem;
}

.headline-type2 {
  color: #fff;
  font-size: 1.125rem;
  text-align: center;
  margin-bottom: 30px;
}

.headline-type2 span {
  padding-bottom: 15px;
  border-bottom: 2px solid #fff;
}

.main-visual {
  height: 525px;
  padding-top: 140px;
  background-image: url(img/main.png);
  background-size: cover;
}

.balloon {
  position: relative;
  padding: 20px;
}

@media (max-width: 992px) {
  .balloon {
    padding: 10px;
  }
}

.balloon::before {
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  left: -15px;
  top: 40px;
  border-right: 15px solid #1e2380;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
}

.balloon::after {
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  left: -12px;
  top: 40px;
  border-right: 15px solid #fff;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
}

.caption {
  position: absolute;
  color: #111111;
  top: 0;
  left: 50%;
  padding: 0 10px;
  margin: 0;
  background-color: #fff;
  transform: translateY(-50%) translateX(-50%);
}

.caption-not {
  position: absolute;
  color: #111111;
  top: 0;
  left: 50%;
  padding: 0 10px;
  margin: 0;
  background: linear-gradient(180deg, #fff 0%, #fff 50%, #f6f6f6 50%, #f6f6f6 100%);
  transform: translateY(-50%) translateX(-50%);
}

.card-border {
  border: 2px solid #000000;
}

.card-txtbox {
  color: black;
  background-color: #fff;
  border: 2px solid #1e2380;
}

.card-txtbox p {
  color: black;
}

.pickup-item__img {
  width: 100%;
  max-width: 100px;
  min-width: 60px;
  border: 2px solid #1e2380;
}

.pickup-item {
  background: #1e2380;
  min-height: 250px;
  padding-bottom: 50px;
  position: relative;
  margin-bottom: 200px;
}

.pickup-item .pickup-item__bottom {
  position: absolute;
  top: calc(100% - 57px);
}

@media (max-width: 992px) {
  .pickup-item {
    min-height: auto;
  }
}

.member-img {
  width: 210px;
  height: 210px;
}

.table tr:last-child th, .table tr:last-child td {
  border-bottom: 1px solid #dee2e6;
}

.w-150px {
  width: 150px;
}

.w-230px {
  width: 230px;
}

.border-2px {
  border: 2px solid #1e2380;
}

.minh-450px {
  min-height: 450px;
}

.position-center {
  left: 50% !important;
  -webkit-transform: translateX(-50%) !important;
  transform: translateX(-50%) !important;
}

i {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
}

.fa-check-circle {
  color: #1e2380;
}
