<!DOCTYPE html>
<html>
  <head>
    <title>Doda</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <link rel="stylesheet" href="scss/style.css">
  </head>
  <body>
    <div class="vh-100 d-flex flex-column">
      <div class="flex-grow-1 position-relative d-flex align-items-center">
        <img class="position-absolute object-fit-cover main-visual" src="img/main.png" alt="">
        <div class="container">
          <div class="row ">
            <div class="col-12 col-lg-6 ml-lg-auto d-flex flex-column align-items-center">
              <img class="img-fluid" src="img/agency.png" alt="">
              <p class="lead my-4">エンジニア技術取得サービスを運営！</p>
              <button type="button" class="btn bg-darkblue rounded-pill text-white px-4">メールに返信する</button>
            </div>
          </div>
        </div>
      </div>
      <div class="bg-darkblue py-5">
        <div class="container">
          <div class="row">
            <div class="col-12 text-white text-center">
              <h3 class="font-headline mb-5">技術の力で、世の中を変える</h3>
              <p>私たちは、</p>
              <p>世界的に不足している即戦力エンジニアを未経験から育成して</p>
              <p>技術力の力で、世の中を変える。</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container py-5">
      <div class="row">
        <div class="col-12">
          <h3 class="headline-type1">募集ポジション説明</h3>
          <h5 class="my-4 font-weight-bolder">
            <i class="fas fa-arrow-right text-darkblue"></i>ソフトウェアエンジニア(サーバー/フロント)</h5>
          <p>
            開発部門では、「技術力の力で、世の中を変える」という理念のもと自社サービスの新規企画からアップデートを行なっています。
            <br>
            当社のサービスは、エンジニアになりたての方を対象に、「いかに短時間で技術力を習得してもらうか」が鍵なので様々な経験を持った当社の精鋭エンジニアが、「自分がエンジニアになったときにこういうことがあればよかった」
            <br>
            という視点でサービスを作り上げていくのが醍醐味です。
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-12 my-4 my-lg-5">
          <div class="embed-responsive embed-responsive-21by9">
            <img class="embed-responsive-item object-fit-cover" src="img/position.png" alt="">
          </div>
        </div>
      </div>
    </div>
    <div class="bg-gray">
      <div class="container">
        <div class="row">
          <div class="col ">
            <h3 class="headline-type1 text-darkblue text-center">Pick Up</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-auto mx-auto">
            <h4 class="text-darkblue">
              <i class="far fa-check-circle mr-4"></i>仕事を選べる</h4>
            <h4 class="text-darkblue">
              <i class="far fa-check-circle mr-4"></i>自由に働ける！</h4>
            <h4 class="text-darkblue">
              <i class="far fa-check-circle mr-4"></i>独立支援制度あり！</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-lg-6 mt-lg-3">
            <div class="card pickup-item">
              <div class="card-body text-white text-center">
                <p class="headline-type2">
                  <span>
                    仕事を選べる！
                  </span>
                </p>
                <p>自分のつけたい技術を優先的に仕事で身につけられる。</p>
                <p class="text-sm">※エンジニア技術習得サービスを運営しているので、社内には様々な経験をもった精鋭エンジニアが集結してます。<br>自分のやったことな領域を無料でトレーニングや講義、プロジェクトに入るのが可能です。
                </p>
              </div>
              <div class="pickup-item__bottom">
                <div class="col-4 col-lg-3 card-work-img float-left text-center">
                  <img src="img/saito.png" class="rounded-circle pickup-item__img">
                </div>
                <div class="col-7 col-lg-8 card-txtbox float-right balloon mr-2">
                  <p class="text-sm">毎朝7時半にジムに行き、11時に出社しています。<br>朝、ジムにいけない場合は19時に会社を出てトレーニングをし、帰宅後に仕事をすることもあります。<br>自由に時間をアレンジできるので、ジムに毎日通うこともでき、結果17kgも痩せました！
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-6 mt-lg-3">
            <div class="card pickup-item">
              <div class="card-body text-white text-center">
                <p class="headline-type2">
                  <span>
                    自由に働ける！
                  </span>
                </p>
                <p>いつどこで働いてもOK！副業も推奨！<br>当社の人事制度は、性善説のもとに作れてます。<br>もちろん「やることをやる」前提ですが、出社時間や勤務場所は自由。副業も推奨しています。</p>
              </div>
              <div class="pickup-item__bottom">
                <div class="col-4 col-lg-3 card-work-img float-left text-center">
                  <img src="img/saito.png" class="rounded-circle pickup-item__img">
                </div>
                <div class="col-7 col-lg-8 card-txtbox float-right balloon mr-2">
                  <p class="text-sm">120字程度の社員の声を挿入。テキストテキストテキストテキスト。<br>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト。<br>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキ</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 mt-lg-3">
            <div class="card pickup-item">
              <div class="card-body text-white text-center">
                <p class="headline-type2">
                  <span>
                    自由に働ける！
                  </span>
                </p>
                <p>いつどこで働いてもOK！副業も推奨！<br>当社の人事制度は、性善説のもとに作れてます。<br>もちろん「やることをやる」前提ですが、出社時間や勤務場所は自由。副業も推奨しています。</p>
              </div>
              <div class="pickup-item__bottom position-center col-lg-8 px-0">
                <div class="col-4 col-lg-3 card-work-img float-left text-center">
                  <img src="img/saito.png" class="rounded-circle pickup-item__img">
                </div>
                <div class="col-7 col-lg-8 card-txtbox float-right balloon mr-2">
                  <p class="text-sm">
                    120字程度の社員の声を挿入。テキストテキストテキストテキスト。<br>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト。<br>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキ
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container my-5">
      <div class="row">
        <div class="col">
          <h3 class="headline-type1 text-center">向いてる人、向いてない人</h3>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-10 col-lg-6">
          <fieldset class="fieldset-card">
            <legend class="w-auto mx-auto px-5">向いてる人</legend>
            <ul class="">
              <li>新たな技術を身に付けることを挑戦したい人。</li>
              <li>プロジェクトの全体像を自分で考えてチームで進めていきたい人</li>
              <li>給与以上に働く環境を重視したい人。</li>
            </ul>
          </fieldset>
        </div>
        <div class="col-10 col-lg-6">
          <fieldset class="fieldset-card bg-secondary">
            <legend class="w-auto mx-auto px-5">向いてない人</legend>
            <ul class="">
              <li>今の持っている技術範囲内で仕事をしていきたい人。</li>
              <li>上司から振られる仕事をコツコツと進めていきたい人。</li>
              <li>働く環境よりも給与を重要視したい人。</li>
            </ul>
          </fieldset>
        </div>
      </div>
    </div>
    <div class="bg-light my-5 py-5">
      <div class="container">
        <div class="row">
          <div class="col">
            <h3 class="headline-type1 text-center">メンバーを知る</h3>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-8 col-md-3">
            <div class="d-flex flex-column align-items-center">
              <div class="embed-responsive embed-responsive-1by1 rounded-circle">
                <img src="img/saito.png" class="embed-responsive-item object-fit-cover member-img_">
              </div>
              <p class="mt-2">営業</p>
              <p class="mt-2">斎藤光男</p>
            </div>
          </div>
          <div class="col-8 col-md-3">
            <div class="d-flex flex-column align-items-center">
              <div class="embed-responsive embed-responsive-1by1 rounded-circle">
                <img src="img/miyashita.png" class="embed-responsive-item object-fit-cover member-img_">
              </div>
              <p class="mt-2">コールスタッフ</p>
              <p class="mt-2">宮下愛美</p>
            </div>
          </div>
          <div class="col-8 col-md-3">
            <div class="d-flex flex-column align-items-center">
              <div class="embed-responsive embed-responsive-1by1 rounded-circle">
                <img src="img/sasaki.png" class="embed-responsive-item object-fit-cover member-img_" style="object-position: 20%;">
              </div>
              <p class="mt-2">営業</p>
              <p class="mt-2">佐々木こうじ</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container my-3">
      <div class="row">
        <div class="col-12">
          <h3 class="headline-type1 text-center">求人票情報</h3>
          <hr class="my-4 border-2px">
          <table class="table table-custom">
            <tbody>
              <tr>
                <th scope="col" class="text-nowrap pr-5 d-block d-lg-table-cell">必須条件</th>
                <td scope="col" class="d-block d-lg-table-cell">
                  <p>下記いずれかの開発言語を使った開発経験 3年以上</p>
                  <p>言語：Kotlin Clojure Dart Rust Elixir Scala Go Java8 TypeScript JavaScript Python C#.NET</p>
                </td>
              </tr>
              <tr>
                <th scope="col" class="text-nowrap d-block d-lg-table-cell">定員</th>
                <td class="d-block d-lg-table-cell">
                  <p>2名</p>
                </td>
              </th>
            </tr>
            <tr>
              <th scope="col" class="text-nowrap d-block d-lg-table-cell">ポジション説明</th>
              <td class="d-block d-lg-table-cell">
                <p>自社パッケージソフトウェアの開発</p>
              </td>
            </tr>
            <tr>
              <th scope="col" class="text-nowrap d-block d-lg-table-cell">勤務地</th>
              <td class="d-block d-lg-table-cell">
                <p>【東京本社】〒151-0061 東京都渋谷区初台1-51-1初台センタービル7F</p>
              </td>
            </tr>
            <tr>
              <th scope="col" class="text-nowrap d-block d-lg-table-cell">勤務時間</th>
              <td class="d-block d-lg-table-cell">
                <p>10:00～19:00 （所定労働時間 8時間）</p>
                <p>※休憩時間：1時間</p>
                <p>※月間平均残業時間：4.8時間以下 (2018年実績)</p>
              </td>
            </tr>
            <tr>
              <th scope="col" class="text-nowrap d-block d-lg-table-cell">雇用形態</th>
              <td class="d-block d-lg-table-cell">
                <p>正社員</p>
              </td>
            </tr>
            <tr>
              <th scope="col" class="text-nowrap d-block d-lg-table-cell">給与</th>
              <td class="d-block d-lg-table-cell">
                <p>月給40万円～80万円</p>
                <p>※試用期間6ヵ月あり(試用期間中は月給30万円～60万円)</p>
                <p>※経験・能力を考慮のうえ、当社規定により優遇いたします。</p>
                <table class="table table-borderless mt-3">
                  <tbody>
                    <tr>
                      <th class="py-2 d-block d-lg-table-cell">
                        <span class="badge badge-pill badge-secondary p-2 w-100">賞与</span>
                      </th>
                      <td class="py-2 d-block d-lg-table-cell">
                        <p>年1回決算賞与あり</p>
                      </td>
                    </tr>
                    <tr>
                      <th class="py-2 d-block d-lg-table-cell">
                        <span class="badge badge-pill badge-secondary p-2 w-100">昇給</span>
                      </th>
                      <td class="py-2 d-block d-lg-table-cell">
                        <p>年2回6月・12月</p>
                      </td>
                    </tr>
                    <tr>
                      <th class="py-2 d-block d-lg-table-cell border-0">
                        <span class="badge badge-pill badge-secondary p-2 w-100">その他手当</span>
                      </th>
                      <td class="py-2 d-block d-lg-table-cell border-0">
                        <p>インセンティブ有り</p>
                        <p>※＋αの成果を出した場合、賞与とは別にインセンティブを付与します。</p>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            <tr>
              <th scope="col" class="text-nowrap d-block d-lg-table-cell">福利厚生</th>
              <td class="d-block d-lg-table-cell">
                <div class="row">
                  <div class="col-12 col-lg-6 py-2 d-flex">
                    <img src="img/benefit01.png" width="50" height="50">
                    <div class="txt ml-4">
                      <p>交通費、住宅手当系</p>
                      <ul>
                        <li>交通費支給</li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-12 col-lg-6 py-2 d-flex">
                    <img src="img/benefit02.png" width="50" height="50">
                    <div class="txt ml-4">
                      <p>ライフサポート系</p>
                      <ul>
                        <li>社会保険完備</li>
                        <li>子供手当有り</li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-12 col-lg-6 py-2 d-flex">
                    <img src="img/benefit03.png" width="50" height="50">
                    <div class="txt ml-4">
                      <p>経費使用やオリジナル福利厚生など</p>
                      <ul>
                        <li>PC支給（予算内で好きなPCを選択可）</li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-12 col-lg-6 py-2 d-flex">
                    <img src="img/benefit04.png" width="50" height="50">
                    <div class="txt ml-4">
                      <p>賞与系</p>
                      <ul>
                        <li>決算賞与</li>
                        <li>年２回（夏、冬）</li>
                        <li>インセンティブ</li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-12 py-2 d-flex">
                    <img src="img/benefit05.png" width="50" height="50">
                    <div class="txt ml-4">
                      <p>休暇関係</p>
                      <ul>
                        <li>有給休暇（10日〜）</li>
                        <li>土日祝日休み</li>
                        <li>ロングバケーション制度<br>有給とは別に、週末を含む7日間連続の休暇を年に2回取得できる福利厚生</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="bg-darkblue py-5">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center text-white">
          <h3 class="mb-3">是非、ご応募ください！</h3>
          <p>面接時、当社の職場案内やキャリアアップ、</p>
          <p class="mb-3">応募者様のキャリア詳細をお話できれば幸いです。</p>
          <button type="button" class="btn btn-light darkblue rounded-pill px-4">メールに返信する</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
    Launch demo modal
  </button>
  <!-- Modal -->
  <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content container">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="container-flued">
            <div class="row">
              <div class="col-12">
                <table class="table table-schedule">
                  <tbody>
                    <tr class="col-12">
                      <th scope="col" style="width:20%">選考のポイント</th>
                      <td>
                        <p>面接は1回。東京本社で行います。</p>
                        <p>また、FaceTimeたSkype面接の対応も可能！在籍中のかたや遠方の方もお気軽にご応募ください。</p>
                      </td>
                    </tr>
                    <tr>
                      <th>勤務地</th>
                      <td>
                        <p>
                          <6月移転のnewオフィス！>東京本社（港区南青山）、もしくは首都圏（東京・神奈川・千葉・埼玉）のプロジェクト先</p>
                          <p>※転勤ナシ/勤務地は希望を考慮します。</p>
                          <p>※U・Iターン歓迎/上京組も活躍中！（上京者向け社員寮あり）</p>
                          <p class="lightblue">勤務地一覧（1件）を見る<span class="glyphicon glyphicon-menu-down h-25"></span></p>
                        </td>
                      </tr>
                      <tr>
                        <th>勤務時間</th>
                        <td>
                          <p>10:00〜19:00 (所定労働時間8時間 休憩60分)</p>
                          <p>※勤務先により異なることもあります</p>
                          <p>※ひと月あたりの残業は230時間以内です。</p>
                        </td>
                      </tr>
                      <tr>
                        <th>雇用形態</th>
                        <td>
                          <p class="font-weight-bold">正社員</p>
                          <p>※試用期間3ヶ月あり。</p>
                          <p>その間の給与・待遇に変更はありません。</p>
                        </td>
                      </tr>
                      <tr>
                        <th>給与</th>
                        <td>
                          <p>月給18万円〜50万円＋プロジェクト評価給</p>
                          <p></p>
                          <p>※経験およびスキルや年齢、前職の給与額を考慮して決定します。</p>
                          <p>※プロジェクト単位で、チーム業績に応じた評価給があります。</p>
                          <p>※上記金額にはみなし残業代（月18時間分/定額2万2400円)を含みます。超過分は別途全額支給します。</p>
                          <p class="line">昇給</p>
                          <p>随時</p>
                          <p class="line">入社時の想定年収</p>
                          <p>年収300万円以上</p>
                          <p class="line">社員の年収例</p>
                          <p>◎年収350万円/22歳/経験1年</p>
                          <p>◎年収520万円/27歳/経験3年</p>
                          <p>◎年収960万円/40歳/経験8年</p>
                        </td>
                      </tr>
                      <tr>
                        <th>待遇・福利厚生</th>
                        <td>
                          <p class="line">各種制度</p>
                          <p>■各種社会保険完備（雇用、労災、健康、厚生年金）</p>
                          <p>■交通費全額支給</p>
                          <p>■残業手当（超過分支給）</p>
                          <p>■資格取得手当（IT系資格の受験費用負担、資格取得報奨金）</p>
                          <p>■社員寮（状況された方が安心してスタートできるようにご用意）</p>
                          <p>■グループ内アプリコンペ（前回の優勝者は賞金として100万円ゲットしました！）</p>
                          <p>■時短勤務OK</p>
                          <p>■独立支援制度</p>
                          <p>■住民税特別徴収</p>
                        </td>
                      </tr>
                      <tr>
                        <th>休日・休暇</th>
                        <td>
                          <p class="line">年間休日</p>
                          <p class="font-weight-bold">126日</p>
                          <p class="line">休日・休暇</p>
                          <p>■完全週休2日制</p>
                          <p>（土日休み）※プロジェクトによっては土日出勤にして他の2日間を休みとする場合もあります。</p>
                          <p>■祝日</p>
                          <p>■年末年始休暇</p>
                          <p>■夏季休暇</p>
                          <p>■GW休暇</p>
                          <p>■有給休暇</p>
                          <p>■慶弔休暇</p>
                          <p>■設立記念日</p>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="container-flued">
              <div class="row">
                <div class="col-12">
                  <h3 class="col">
                    <span class="darkgreen">■</span>ある１日のスケジュール</h3>
                  <table class="table">
                    <tr>
                      <th class="bg-darkgray text-white align-middle" style="width:10%">〜10:00</th>
                      <th class="bg-darkgray text-right darkgreen align-middle" style="width:20%">出社・進捗管理</th>
                      <td class="align-middle">メールとビジネスチャット、スケジュールに一通り目を通し、本日の仕事を整理</td>
                    </tr>
                    <tr>
                      <th class="bg-darkgray text-white align-middle">11:00〜</th>
                      <th class="bg-darkgray text-right darkgreen align-middle">超朝の会</th>
                      <td class="align-middle">自分が発案し"共有"のため週一回行なっている会。CEO常川から現在の会社の状況や方針、車内の取り組みと課題を共有していく</td>
                    </tr>
                    <tr>
                      <th class="bg-darkgray text-white align-middle">12:00〜</th>
                      <th class="bg-darkgray text-right darkgreen align-middle">決め会</th>
                      <td class="align-middle">いわゆる「マネージャーミーティング」の事<br>
                        マネージャー間で決めるべきことをスピード感持って決めるという意思で命名
                      </td>
                    </tr>
                    <tr>
                      <th class="bg-darkgray text-white align-middle">13:00〜</th>
                      <th class="bg-darkgray text-right darkgreen align-middle">お昼休憩</th>
                      <td class="align-middle">プロデュサーとランチ。プロダクトの問題点や解決策を話す。曜日ごとに、CEO常川、ディレクター、KPI班、プランナー班等相手を決めてざっくばらんに意見交換</td>
                    </tr>
                    <tr>
                      <th class="bg-darkgray text-white align-middle">14:00〜</th>
                      <th class="bg-darkgray text-right darkgreen align-middle">実績確認</th>
                      <td class="align-middle">各プロジェクトごとの売上・コストの集計結果を確認し、問題点の発見・解決策の立案を実施</td>
                    </tr>
                    <tr>
                      <th class="bg-darkgray text-white align-middle">15:00〜</th>
                      <th class="bg-darkgray text-right darkgreen align-middle">新社内施策企画</th>
                      <td class="align-middle">ランチで仕入れた情報を加味して、社内での情報共有を止めている物が何か見極め、それを解決する施策を企画</td>
                    </tr>
                    <tr>
                      <th class="bg-darkgray text-white align-middle">16:00〜</th>
                      <th class="bg-darkgray text-right darkgreen align-middle">ワークフローの作成</th>
                      <td class="align-middle">運営について、現在行われている仕事の順番や承認フローを可視化し、必要に応じて改良を行い、標準ワークフローを作成。必要な部署へ展開する</td>
                    </tr>
                    <tr>
                      <th class="bg-darkgray text-white align-middle">18:00〜</th>
                      <th class="bg-darkgray text-right darkgreen align-middle">KPIツール仕様限定</th>
                      <td class="align-middle">経営層・マネジメント層・現場、それぞれがどんな数字を必要としているか見極め、仕様を作り込んでいく。ツール制作はデータ分析基盤エンジニアと相談して進行</td>
                    </tr>
                    <tr>
                      <th class="bg-darkgray text-white align-middle">21:00〜</th>
                      <th class="bg-darkgray text-right darkgreen align-middle">開発中のプロダクトのレビュー</th>
                      <td class="align-middle">現在開発中のプロダクトについて、他プロダクトの知見を照らしてレビュー・改善提案を実施</td>
                    </tr>
                    <tr>
                      <th class="bg-darkgray text-white align-middle">22:00〜</th>
                      <th class="bg-darkgray text-right darkgreen align-middle">退社</th>
                      <td></td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </body>
</html>
