<!DOCTYPE html>
<html>
  <head>
    <title>Doda</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <link rel="stylesheet" href="scss/style.css">
  </head>
  <body>
    <div class="vh-100">
      <div class="main-visual_">
        <div class="container">
          <div class="row ">
            <div class="col-12 col-lg-6 ml-lg-auto d-flex flex-column align-items-center">
              <img class="img-fluid" src="scss/img/agency.png" alt="">
              <p class="lead my-4">エンジニア技術取得サービスを運営！</p>
              <button type="button" class="btn bg-darkblue rounded-pill text-white px-4">メールに返信する</button>
            </div>
          </div>
        </div>
      </div>
      <div class="bg-darkblue">
        <div class="container">
          <div class="row">
            <div class="col-12 text-white py-5 text-center">
              <h3 class="font-headline mb-5">技術の力で、世の中を変える</h3>
              <p>私たちは、</p>
              <p>世界的に不足している即戦力エンジニアを未経験から育成して</p>
              <p>技術力の力で、世の中を変える。</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container py-5">
      <div class="row">
        <div class="col-12">
          <h3 class="headline-type1">募集ポジション説明</h3>
          <h5 class="my-4">
            <span class="darkblue">→</span>
            ソフトウェアエンジニア(サーバー/フロント)</h5>
          <p>開発部門では、「技術力の力で、世の中を変える」という理念のもと自社サービスの新規企画からアップデートを行なっています。</p>
          <p>当社のサービスは、エンジニアになりたての方を対象に、「いかに短時間で技術力を習得してもらうか」が鍵なので様々な経験を持った当社の精鋭エンジニアが、「自分がエンジニアになったときにこういうことがあればよかった」</p>
          <p>という視点でサービスを作り上げていくのが醍醐味です。</p>
        </div>
        <div class="col-12 my-4">
          <div class="embed-responsive embed-responsive-21by9">
            <img class="embed-responsive-item bg" src="scss/img/position.png" alt="">
          </div>
        </div>
      </div>
    </div>

    <!-- pickup -->

    <div class="container-fluid bg-gray py-5 px-0">
      <div class="text-darkblue">
        <h3 class="headline-type1 text-center">Pick Up</h3>
        <div class="col-lg-2 text-nowrap mt-4 mx-auto text-center text-lg-left">
          <h4>
            <i class="far fa-check-circle mr-4"></i>仕事を選べる</h4>
          <h4>
            <i class="far fa-check-circle mr-4"></i>自由に働ける！</h4>
          <h4>
            <i class="far fa-check-circle mr-4"></i>独立支援制度あり！</h4>
        </div>
      </div>
      <div class="col-12 col-lg-10 mx-auto row">
        <div class="col-lg-6 my-3">
          <div class="card pickup-item">
            <div class="card-body text-white text-center">
              <p class="headline-type2">
                <span>
                  仕事を選べる！
                </span>
              </p>
              <p>自分のつけたい技術を優先的に仕事で身につけられる。</p>
              <p class="text-sm">※エンジニア技術習得サービスを運営しているので、社内には様々な経験をもった精鋭エンジニアが集結してます。<br>自分のやったことな領域を無料でトレーニングや講義、プロジェクトに入るのが可能です。
              </p>
            </div>
            <div class="pickup-item__bottom">
              <div class="col-4 col-lg-3 card-work-img float-left text-center">
                <img src="scss/img/saito.png" class="rounded-circle pickup-item__img">
              </div>
              <div class="col-7 col-lg-8 card-txtbox float-right balloon mr-2">
                <p class="text-sm">毎朝7時半にジムに行き、11時に出社しています。<br>朝、ジムにいけない場合は19時に会社を出てトレーニングをし、帰宅後に仕事をすることもあります。<br>自由に時間をアレンジできるので、ジムに毎日通うこともでき、結果17kgも痩せました！
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-6 my-3">
          <div class="card pickup-item">
            <div class="card-body text-white text-center">
              <p class="headline-type2">
                <span>
                  自由に働ける！
                </span>
              </p>
              <p>いつどこで働いてもOK！副業も推奨！<br>当社の人事制度は、性善説のもとに作れてます。<br>もちろん「やることをやる」前提ですが、出社時間や勤務場所は自由。副業も推奨しています。</p>
            </div>
            <div class="pickup-item__bottom">
              <div class="col-4 col-lg-3 card-work-img float-left text-center">
                <img src="scss/img/saito.png" class="rounded-circle pickup-item__img">
              </div>
              <div class="col-7 col-lg-8 card-txtbox float-right balloon mr-2">
                <p class="text-sm">120字程度の社員の声を挿入。テキストテキストテキストテキスト。<br>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト。<br>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキ</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-10 mx-auto">
        <div class="col-12 my-3">
          <div class="card pickup-item">
            <div class="card-body text-white text-center">
              <p class="headline-type2">
                <span>
                  自由に働ける！
                </span>
              </p>
              <p>いつどこで働いてもOK！副業も推奨！<br>当社の人事制度は、性善説のもとに作れてます。<br>もちろん「やることをやる」前提ですが、出社時間や勤務場所は自由。副業も推奨しています。</p>
            </div>
            <div class="pickup-item__bottom position-center col-lg-8 px-0">
              <div class="col-4 col-lg-3 card-work-img float-left text-center">
                <img src="scss/img/saito.png" class="rounded-circle pickup-item__img">
              </div>
              <div class="col-7 col-lg-8 card-txtbox float-right balloon mr-2">
                <p class="text-sm">
                  120字程度の社員の声を挿入。テキストテキストテキストテキスト。<br>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト。<br>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキ
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- match -->

    <div class="container-fluid my-5">
      <h3 class="headline-type1 text-center">向いてる人、向いてない人</h3>
      <div class="row mt-5">
        <div class="col-lg-10 mx-auto">
          <div class="col-12 col-lg-6 float-lg-left">
            <div class="card">
              <div class="card-body card-border rounded">
                <h5 class="caption text-center">向いてる人</h5>
                <ul class="text-left my-4">
                  <li>新たな技術を身に付けることを挑戦したい人。</li>
                  <li>プロジェクトの全体像を自分で考えてチームで進めていきたい人</li>
                  <li>給与以上に働く環境を重視したい人。</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-6 float-lg-right mt-4 mt-lg-0">
            <div class="card">
              <div class="card-body card-border bg-light rounded">
                <h5 class="caption-not text-center">向いてない人</h5>
                <ul class="text-left my-4">
                  <li>今の持っている技術範囲内で仕事をしていきたい人。</li>
                  <li>上司から振られる仕事をコツコツと進めていきたい人。</li>
                  <li>働く環境よりも給与を重要視したい人。</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- member -->

    <div class="container-fluid bg-light text-center my-5 py-5">
      <h3 class="headline-type1 text-center">メンバーを知る</h3>
      <div class="row mt-4">
        <div class="col-12 col-lg-8 mx-auto">
          <div class="col-lg-4 float-lg-left mb-4 mb-lg-0">
            <img src="scss/img/saito.png" class="rounded-circle member-img">
            <p class="mt-2">営業</p>
            <p class="mt-2">斎藤光男</p>
          </div>
          <div class="col-lg-4 float-lg-left mb-4 mb-lg-0">
            <img src="scss/img/miyashita.png" class="rounded-circle member-img">
            <p class="mt-2">コールスタッフ</p>
            <p class="mt-2">宮下愛美</p>
          </div>
          <div class="col-lg-4 float-lg-right mb-4 mb-lg-0">
            <img src="scss/img/sasaki.png" class="rounded-circle member-img">
            <p class="mt-2">営業</p>
            <p class="mt-2">佐々木こうじ</p>
          </div>
        </div>
      </div>
    </div>

    <!-- information -->

    <div class="container my-3">
      <div class="row">
        <div class="col-12">
          <h3 class="headline-type1 text-center">求人票情報</h3>
          <hr class="my-4 border-2px">
          <table class="table">
            <tbody>
              <tr>
                <th scope="col" class="border-top-0">必須条件</th>
                <td scope="col" class="border-top-0">
                  <p>下記いずれかの開発言語を使った開発経験 3年以上</p>
                  <p>言語：Kotlin Clojure Dart Rust Elixir Scala Go Java8 TypeScript JavaScript Python C#.NET</p>
                </td>
              </tr>
              <tr>
                <th scope="col">定員</th>
                <td>
                  <p>2名</p>
                </td>
              </th>
            </tr>
            <tr>
              <th scope="col">ポジション説明</th>
              <td>
                <p>自社パッケージソフトウェアの開発</p>
              </td>
            </tr>
            <tr>
              <th scope="col">勤務地</th>
              <td>
                <p>【東京本社】〒151-0061 東京都渋谷区初台1-51-1初台センタービル7F</p>
              </td>
            </tr>
            <tr>
              <th scope="col">勤務時間</th>
              <td>
                <p>10:00～19:00 （所定労働時間 8時間）</p>
                <p>※休憩時間：1時間</p>
                <p>※月間平均残業時間：4.8時間以下 (2018年実績)</p>
              </td>
            </tr>
            <tr>
              <th scope="col">雇用形態</th>
              <td>
                <p>正社員</p>
              </td>
            </tr>
            <tr>
              <th scope="col">給与</th>
              <td>
                <p>月給40万円～80万円</p>
                <p>※試用期間6ヵ月あり(試用期間中は月給30万円～60万円)</p>
                <p>※経験・能力を考慮のうえ、当社規定により優遇いたします。</p>
                <div class="row align-items-center mt-2">
                  <div class="col-3 minw-150px mr-2">
                    <span class="d-inline-block text-center rounded-pill bg-light py-2 w-150px">賞与</span>
                  </div>
                  <div class="col-auto">
                    <p>年1回決算賞与あり</p>
                  </div>
                </div>
                <div class="row mt-3 align-items-center">
                  <div class="col-3 minw-150px mr-2">
                    <span class="d-inline-block text-center rounded-pill bg-light py-2 w-150px">昇給</span>
                  </div>
                  <div class="col-auto">
                    <p>年2回6月・12月</p>
                  </div>
                </div>
                <div class="row mt-3 align-items-center">
                  <div class="col-3 minw-150px mr-2">
                    <span class="d-inline-block text-center rounded-pill bg-light py-2 w-150px">その他手当</span>
                  </div>
                  <div class="col-auto">
                    <p>インセンティブ有り</p>
                    <p>※＋αの成果を出した場合、賞与とは別にインセンティブを付与します。</p>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <th scope="col">福利厚生</th>
              <td>
                <div class="row">
                  <div class="col-12 col-lg-6 my-2">
                    <div class="img float-left">
                      <img src="scss/img/benefit01.png" width="50" height="50">
                    </div>
                    <div class="txt float-left ml-4">
                      <p>交通費、住宅手当系</p>
                      <ul>
                        <li>交通費支給</li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-12 col-lg-6 my-2">
                    <div class="img float-left">
                      <img src="scss/img/benefit02.png" width="50" height="50">
                    </div>
                    <div class="txt float-left ml-4">
                      <p>ライフサポート系</p>
                      <ul>
                        <li>社会保険完備</li>
                        <li>子供手当有り</li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-12 col-lg-6 my-2">
                    <div class="img float-left">
                      <img src="scss/img/benefit03.png" width="50" height="50">
                    </div>
                    <div class="txt float-left ml-4">
                      <p>経費使用やオリジナル福利厚生など</p>
                      <ul>
                        <li>PC支給（予算内で好きなPCを選択可）</li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-12 col-lg-6 my-2">
                    <div class="img float-left">
                      <img src="scss/img/benefit04.png" width="50" height="50">
                    </div>
                    <div class="txt float-left ml-4">
                      <p>賞与系</p>
                      <ul>
                        <li>決算賞与</li>
                        <li>年２回（夏、冬）</li>
                        <li>インセンティブ</li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-12 my-2">
                    <div class="img float-left">
                      <img src="scss/img/benefit05.png" width="50" height="50">
                    </div>
                    <div class="txt float-left ml-4">
                      <p>休暇関係</p>
                      <ul>
                        <li>有給休暇（10日〜）</li>
                        <li>土日祝日休み</li>
                        <li>ロングバケーション制度<br>有給とは別に、週末を含む7日間連続の休暇を年に2回取得できる福利厚生</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <!-- footer -->

  <div class="container-fluid bg-darkblue text-center text-white py-5">
    <div class="row">
      <div class="col-12">
        <h3 class="mb-3">是非、ご応募ください！</h3>
        <p>面接時、当社の職場案内やキャリアアップ、</p>
        <p class="mb-3">応募者様のキャリア詳細をお話できれば幸いです。</p>
        <button type="button" class="btn btn-light darkblue rounded-pill px-4">メールに返信する</button>
      </div>
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
